{{define "Title"}} index {{end}}
{{define "content"}}
	<div id="three-column" class="container">
		<div><span class="arrow-down"></span></div>
		<div id="tbox1">
			<div class="title">
				<h2>Win a contest</h2>
			</div>
			<p>Are you the best? Competing in various design, craft or DIY contests.</p>
			<a href="#" class="button">Learn More</a> </div>
		<div id="tbox2">
			<div class="title">
				<h2>Top classes</h2>
			</div>
			<p>Come and see the most popular classes!</p>
			<a href="#" class="button">Learn More</a> </div>
		<div id="tbox3">
			<div class="title">
				<h2>Be a teacher</h2>
			</div>
			<p>Do you have any crazy but useful ideas? Just show it to others!</p>
			<a href="#" class="button">Learn More</a> </div>
	</div>


	<div id="portfolio" class="container">
		<div id="classes">
        <p><strong>Classes</strong> </p>
		{{ range .Classes }}

		<div class="column">
			<div class="box"> <a href="#">
				<img src="{{ .ClassSurfaceImg }}" alt="" class="image image-full" />
			</a>
				<h3>{{.ClassTitle}} <p>{{.ClassSummary}}</p></h3>

			</div>
		</div>
		{{end}}
	</div>

	<div id="projects">
        <p><strong>Projects</strong></p>
		{{ range .Projects }}
		<div class="column">
			<div class="box"> <a href="#">
				<h3>{{.ProjectTitle}}: <p>{{.ProjectSummary}}</p></h3>

			</div>
		</div>
		{{end}}
	</div>

	</div>
{{end}}
